@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  box-sizing: border-box;
  /* border: solid white 5px; */
}

body {
  background-color: orangered;
  margin: 0;
  font-family: "Shantell Sans", "Roboto";
  font-size: 30px;
  font-weight: 400;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}

.container {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

img {
  width: 300px;
  height: auto;
}

#paper {
  height: 380px;
  width: auto;
}

.container-score {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-label {
  font-size: 2em;
  color: #ffeead;
}

.score-number {
  font-size: 3em;
  color: #003049;
}

.container-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
  text-align: center;
}

.result {
  font-size: 1.2em;
  color: #ffeead;
}

.end-result {
  font-size: 1.4em;
  color: #ffeead;
}

img:hover {
  transform: scale(1.2);
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;

  background-color: #ffeead;
  border: 10px solid coral;
  padding: 1.5em;
  color: orangered;
  border-radius: 30px;
  text-align: center;
  font-size: 1.2em;
}

button {
  /* font-family: "Roboto", sans-serif; */
  margin-top: 20px;
  font: inherit;
  font-size: 0.75em;
  border: 3px solid #003049;
  border-radius: 5px;
  background-color: orangered;
  color: #003049;
}
